**\python\data_science_and_machine_learning\searching_algorithms\__pycache__\
**\python\data_science_and_machine_learning\searching_algorithms\.idea\
**\python\data_science_and_machine_learning\searching_algorithms\venv\
